@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);

body {
  background-image:url(../images/bg11.jpg); 
  background-attachment:fixed;
}
.header h1{
	color:white;
	text-align:center;
	font-size:50px;
	font-family:roboto;
}
.header{
	margin-top:50px;
	margin-bottom:20px;
}



.card {
	
  background-color: #f4f4f4;
  width: 75%;
  margin: 10px auto;
  height:100%;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}


.card-left img{
  width: 100%;
  margin-top:20px;
  
}

.card-left {
  width: 85%;
  text-align:center;
  margin: 5px auto;
}

.card-left h3 {
  font-size: 30px;
  margin-bottom: 0;
  color: #303F9F;
}

.card-left h4 {
  font-size: 20px;
  margin-top: 0;
  color: #FF5252;
 }

.card-content  p{
  color: #727272;
  font-size: 15px;
 }
 i {
  font-size: 2em;
  color: #3F51B5;
}

blockquote {
  
  border-left: 10px solid #ccc;
   margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}