<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<script type="text/javascript" src="js/materialize.min.js"></script>

 <head>
 <style>
table{
    table-layout: fixed;
    width: 100%;
}
</style>

	<title></title>
</head>
<body>
<center>
<br><br>
<h3>View All Teams</h3>
{% for category, message in get_flashed_messages(with_categories=true) %}
<h6>{{ message }}</h6>
{% endfor %}
<br><br>
<div class="container">
	{%if data%}
	<table>
		<tr>
			<td><center><b>Team Name</center></td>
			<td><center><b>Institute</center></td>
			<td><center><b>Registration Status</center></td>
		</tr>
	{%endif%}
	{% for i in data %}
		<tr>
			<td><center><a href="/viewteam?team={{i[0]}}">{{i[0]}}</center></td>
			<td><center>{{i[1]}}</center></td>
			<td>
				<center>
					{%if i[1]%}
					Complete
					{% else %}
					Incomplete
					{%endif%}
				</center>
			</td>
			
		</tr>
		<!-- {{i}} -->

	{% endfor %}

</table>
</div>
<br>
</center>
</body>
</html>