<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<script type="text/javascript" src="js/materialize.min.js"></script>

 <head>
	<title></title>
</head>
<body>
<center>
<br><br>
<h3>Return a Book</h3>
{% for category, message in get_flashed_messages(with_categories=true) %}
<h6>{{ message }}</h6>
{% endfor %}
<br><br><br>
<div class="container">
	<!-- <div class="row"> -->
	    <form action="/returnbooks" method="post" class="col s12">
	      <div class="row">
	        <div class="input-field col s6">
	          <input placeholder="Student Username" id="stuname" name="stuname" type="text" class="validate">
	          <!-- <label for="uname">Username</label> -->
	        </div>

	        <div class="input-field col s6">
	          <input placeholder="Book ID" id="bid" name="bid" type="text" class="validate">
	          <!-- <label for="password">Password</label> -->
	        </div>
	      </div>
	      <!-- </div> -->
	      <div class="row">
	        <div class="input-field col s12">
	          <input placeholder="Return Date (DD/MM/YYYY)" id="returndate" name="returndate" type="text" class="validate">
	          <!-- <label for="password">Password</label> -->
	        </div>
	        
	      </div>
	      <div class="row">
	      	<button class="btn waves-effect waves-light" type="submit" name="action">Return</button>
          </div>
	    </form>
</div>

{% for i in data %}
<br>{{i}}
{% endfor %}
<br><br>
<a href="/logout" class="waves-effect waves-light btn">Logout</a><br><br>
</center>
</body>
</html>