<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<script type="text/javascript" src="js/materialize.min.js"></script>

 <head>
	<title></title>
</head>
<body>
<center>
<br><br>
{% for category, message in get_flashed_messages(with_categories=true) %}
<h6>{{ message }}</h6>
{% endfor %}

{% if exist %}
<br><br>
This email is already confirmed for the team <b>{{teamname}}</b>. 
{% endif %}

{% if value %}
<br>Email Verified. Please fill your details by logging into the team.
{% else %}
<br>Email Could not be verified.
{% endif %}

<br><br>
</center>
</body>
</html>