<!DOCTYPE html>
<html>
 <title>Codeutsava 1.0 </title>
  <link rel="icon" type="image/png" href="static/img/logo1.png">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width , initial-scale=1.0,user-scalable=no"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--<script type="text/javascript" src="js/materialize.min.js"></script>-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
 <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <head>
	<!-- <title></title> -->
</head>
<body>
<nav class="black" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="static/img/code.png" alt="Codeutsava" height="50px"></a>
       <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">        
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/teamprofile">MY TEAM PROFILE</a></li>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/">HOME PAGE</a></li>
        
                
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login" class="btn waves-effect waves-light  darkgrey lighten-1 ">LOGIN</a></li>
        <li><a href="/teamprofile" class="btn waves-effect waves-light  darkgrey lighten-1 ">MY TEAM PROFILE</a></li>
        <li><a href="/register" class="btn waves-effect waves-light  darkgrey lighten-1 ">REGISTER</a></li>
        <li><a href="/" class="btn waves-effect waves-light  darkgrey lighten-1 ">HOME PAGE</a></li>
        
      </ul>
      <!-- <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-white">menu</i></a> -->
    </div>
  </nav>
</div>
<br><br>
<div class="container">
<div calss="row">
<div class="col s12 l12">
<center>
{% for category, message in get_flashed_messages(with_categories=true) %}
<h6>{{ message }}</h6>
{% endfor %}
</div></div>

{% if exist %}
<br><br>
This email is already confirmed for the team <b>{{teamname}}</b>. 
{% endif %}

{% if value %}
</br></br> </br> Email Verified. Please fill your details by logging into the team.
</br></br> </br>  Your Team Name - {{teamname}}
</br></br> </br> Team Password - {{password}}
{% else %}
<br>Email Could not be verified.
{% endif %}
</center>
<br><br>
</div>
<footer class="page-footer grey">

          <div class="container" style="background color:grey;">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CODEUTSAVA 1.0</h5>
                <p class="grey-text text-lighten-4">Be a part of one of the mega computer science
				event of central India and feel the aura of our motto "Code | Innovate | Celebrate".
				The event aims at encouraging and creating awareness among students to use the
				technology for the betterment of society.
</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">CONNECT WITH US</h5>
                <ul>
                  <li><a class="white-text" href="https://www.nitrr.ac.in">NIT RAIPUR</a></li><br/>
                  <li><a class="white-text" href="#!">Lalit Chauhan</a></li>
                  <li><a class="white-text" href="#!">Shubham Amraotkar</a></li>
                  
                </ul>
              </div>
            </div>
          </div></div>
		  <div class="black">
          <div class="footer-copyright">
            <div class="container">
			<div class="row">
			<div class="col   l6 s12">
            Copyright 2016 ITSA NIT Raipur. 
			</div>
            
            </div>
          </div></div>
          </div>
        </footer>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
      
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  

  <script src="static/js/init.js"></script>
  <script type="text/javascript" src="static/js/analytics.js"></script>   
   

</body>
</html>