<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Codeutsava 1.0 | Blogs</title>
  <link rel="icon" type="image/png" href="static/img/logo1.png">
<meta name="keywords" content="Codeutsava Codeutsava NITRR nit Raipur ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta itemprop="name" content="Codeutsava 1.0 | NITRR">
<meta itemprop="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta itemprop="image"  content="http://codeutsava.in/img/logo.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NITRR">
<meta name="twitter:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image:src" content="http://codeutsava.in/img/logo.jpg">
<meta property="og:title" content="Codeutsava 1.0 | NITRR">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://codeutsava.in/" />
<meta property="og:image" content="http://codeutsava.in/img/logo.jpg" />
<meta property="og:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta property="og:site_name" content="Codeutsava.in" />
<meta property="fb:admins" content="Facebook numberic ID" />
<script type="text/javascript" src="static/js/analytics.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style6.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/ihover.css" rel="stylesheet">
   <link href="static/css/ihover.min.css" rel="stylesheet">
   <link href="static/css/blog.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper">
        <a id="logo-container " href="/" class="brand-logo"><img src="static/img/logo1.png" alt="Codeutsava" height="60px"></a>
     <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">        
         <li><a href="/">HOME</a></li>
         <li><a href="/registration">REGISTRATION PORTAL</a></li>
         
                 
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/" class="btn waves-effect waves-light  darkgrey lighten-1 ">HOME PAGE</a></li>
        <li><a href="/registration" class="btn waves-effect waves-light  darkgrey lighten-1 ">REGISTER</a></li>
         
      </ul>
      <!-- <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-white">Menu</i></a>  -->
    </div>
  </nav>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="https://www.facebook.com/codeutsava" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn-floating blue" href="https://www.twitter.com/codeutsavaNitrr" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
<!-- main section-->
<div class="contain">
 <div class="header">
			<h1>OUR BLOGS</h1>
	</div>
   <div class="row">
	
<!-- 1-->

	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="card-header">
				<img  src="static/images/ananya1.jpg"/>
			</div>
			<div class="card-content">
				<h3>ANANYA SEN</h3>
				<h4>4th year,CSE</h4>
				<p>Looks like it was just yesterday when I was bidding tearful adieu to my parents, scared, for being banished away from home for the next 4 years.<br/> #RaipurIsBeautiful ?? No, No it’s not merely beautiful, it’s way more than that...
				<a href="/blogs?page=2" target="_blank">more</a></p>
			</div>
				
			
		</div>
	</div>
<!-- 2-->

	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="card-header">
				<img src="static/images/shraddha.png"/>
			</div>
			<div class="card-content">
				<h3>SHRADDHA DIXIT</h3>
				<h4>2nd year,Chemical</h4>
				<p>
				A sudden soothing breeze within me did thrive,
								While I was accompanying myself a walk
								In the marine drive…
								Me, so always distracted by the negative calls,<br/>
								Even I, took some moments off of those<br/>
								At the Ghatarani...
				<a href="/blogs?page=3" target="_blank">more</a></p>
			</div>
			
			
		</div>
	
	</div>
	<!--3-->
	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="card-header">
				<img src="static/images/rahul.jpg"/>
			</div>
			<div class="card-content">
				<h3>RAHUL KUSHWAHA</h3>
				<h4></h4>
				<p>As a metropolitan city that everything changes, changes in the extinction is not the case that old things are just the same, just the way it turns, it comes in a new look
				<br/>
				One such city is Raipur, new things have come here,as well as new people... 
				<a href="/blogs?page=1" target="_blank">more</a></p>
			</div>
			
		</div>
	</div>
		
	
	<!--4TH-->
	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="card-header">
				<img src="static/images/snehalpp.jpg"/>
			</div>
			<div class="card-content">
				<h3>SNEHAL RAWAT</h3>
				<h4>2nd year,IT</h4>
				
				<p>
					Ghatarani- one of the attractions of raipur
					Ghatarani waterfalls in raipur is one of the most visited tourist destination. You can also visit the Jatmai temple & Waterfall. Ghatarani waterfall is 25 km from Jatmai . It is bigger than Jatmai...
				
				<a href="/blogs?page=4" target="_blank">more</a></p>
			</div>
			
		
	</div>
	</div>
	<!--5-->
	<!--4TH-->
	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="card-header">
				<img src="static/images/bhawna.jpg"/>
			</div>
			<div class="card-content">
				<h3>BHAWNA JAISWAL</h3>
				<h4>4th year,Metallurgy</h4>
				
				<p>
					Raipur,the place I hated the most with no reason.It was 28th of march 2013,I came here to pursue chartered accountancy course.I have completely drawn my mind from the pool of science and was sure that I will be a Chartered Accountant one day...				
				<a href="/blogs?page=5" target="_blank">more</a></p>
			</div>
			
		
	</div>
	</div>
	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="card-header">
				<img src="static/images/nehyal.jpg"/>
			</div>
			<div class="card-content">
				<h3>Neyhal Menghani</h3>
				<h4>4th year,CSE</h4>
				
				<p>
					Raipur sheher me apka swagat hai! Most of us would have heard these lines as we land in Raipur. Being born here, my love for this city, couldn’t be described in words. A non-native person’s first reaction would be, Eh, where’s Raipur? Is it a town or a village?...				
				<a href="/blogs?page=6" target="_blank">more</a></p>
			</div>
			
		
	</div>
	</div>
	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="card-header">
				<img src="static/images/nandini.jpg"/>
			</div>
			<div class="card-content">
				<h3>Nandini Bandyopadhyay</h3>
				<h4>4th year,Electronics & Telecommunication</h4>
				
				<p>
					Beauty, they say, lies in the eyes of the beholder. My Raipur is beautiful, the kind of beauty that doesn't diminish everything around; rather makes everything else shine too. I have seen Raipur evolve in the last few years....				
				<a href="/blogs?page=7" target="_blank">more</a></p>
			</div>
			
		
	</div>
	</div>
	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="card-header">
				<img src="static/images/sagar.jpg"/>
			</div>
			<div class="card-content">
				<h3>सागर राजा</h3>
				<h4>अंतिम वर्ष,यांत्रिकी अभियांत्रिकी </h4>
				
				<p>
					 विंटर इंटर्नशिप नाम की छुट्टियां मना कर मुम्बई से घर पंहुचा तो सोचा थोड़ा सोशल मीडिया में एक्टिव हो जाता (हाँ ठीक है मेरा मतलब सोशल मीडिया में वापस नार्मल हो जाता।) फेसबुक खोला तो न्यूज़ फीड में हैप्पी न्यू ईयर के वो पोस्ट जो लास्ट ईयर भी दिखे थे वो 2017 टैग के साथ फिर आने लगे । ....				
				<a href="/blogs?page=8" target="_blank">विस्तृत</a></p>
			</div>
			
		
	</div>
	</div>


</div>
</div>
<!--footer-->
<footer class="page-footer black accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CODEUTSAVA 1.0</h5><hr/>
          <p class="grey-text text-lighten-4">CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consist of a 28-hour hackathon that will run in parallel to Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.</p>
        </div>
         <div class="col l6 s12">
       <div class="fb-page" data-href="https://www.facebook.com/CodeUtsava" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CodeUtsava" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CodeUtsava">CodeUtsava 1.0</a></blockquote></div>
          
         </div>
    </div>
	</div>
    <div class="footer-copyright">
      <div class="container center">
      Copyright 2017 ITSA NIT Raipur | All Rights Reserved.
      </div>
    </div>
  </footer>
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
</body>