<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Codeutsava 1.0 | Blogs</title>
  <link rel="icon" type="image/png" href="static/img/logo1.png">
<meta name="keywords" content="Codeutsava Codeutsava NITRR nit Raipur ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta itemprop="name" content="Codeutsava 1.0 | NITRR">
<meta itemprop="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta itemprop="image"  content="http://codeutsava.in/img/logo.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NITRR">
<meta name="twitter:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image:src" content="http://codeutsava.in/img/logo.jpg">
<meta property="og:title" content="Codeutsava 1.0 | NITRR">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://codeutsava.in/blogs?page=8" />
<meta property="og:image" content="http://codeutsava.in/img/logo.jpg" />
<meta property="og:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta property="og:site_name" content="Codeutsava.in" />
<meta property="fb:admins" content="Facebook numberic ID" />
<script type="text/javascript" src="static/js/analytics.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style6.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/ihover.css" rel="stylesheet">
   <link href="static/css/ihover.min.css" rel="stylesheet">
   <link href="static/css/blog1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <nav class="white" role="navigation">
    <div class="nav-wrapper">
        <a id="logo-container " href="/" class="brand-logo"><img src="static/img/logo1.png" alt="Codeutsava" height="60px"></a>
     <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">        
         <li><a href="/">HOME</a></li>
         <li><a href="/registration">REGISTRATION PORTAL</a></li>
         <li><a href="/blogs">OUR BLOGS</a></li>
         <li><a href="/hackathon">ACCOMODATION</a></li>
         
                 
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/" class="btn waves-effect waves-light  darkgrey lighten-1 ">HOME PAGE</a></li>
        <li><a href="/registration" class="btn waves-effect waves-light  darkgrey lighten-1 ">REGISTER</a></li>
        <li><a href="/blogs" class="btn waves-effect waves-light  darkgrey lighten-1 ">OUR BLOGS</a></li>
        <li><a href="/hackathon" class="btn waves-effect waves-light  darkgrey lighten-1 ">ACCOMODATION</a></li>
         
      </ul>
      <!-- <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-white">Menu</i></a>  -->
    </div>
  </nav>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="https://www.facebook.com/codeutsava" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn-floating blue" href="https://www.twitter.com/codeutsavaNitrr" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

<!-- main section-->
 <div class="header">
				<h1>OUR BLOGS</h1>
			</div>
            <div class="card">
				<div class="row">
					<div class="col s12 m3 l3">
						<center>
						<div class="card-left">
				
							<img src="static/images/sagar.jpg"/>
							<h3>सागर राजा</h3>
							<h4 class="black-text">अंतिम वर्ष, यांत्रिकी अभियांत्रिकी</h4>
							
							<!--<a href="#"><i class="fa fa-facebook small"></i></a>
							<a href="#"><i class="fa fa-twitter small"></i></a>
							<a href="#"><i class="fa fa-linkedin small"></i></a>-->
						</div>
						</center>
					</div>
					<div class="col s12 m9 l9">
						<div class="card-content">
						<blockquote>
							<h5>#RaipurIsBeautiful</h5>
							<br/>
              <p>
             विंटर इंटर्नशिप नाम की छुट्टियां मना कर मुम्बई से घर पंहुचा तो सोचा थोड़ा सोशल मीडिया में एक्टिव हो जाता (हाँ ठीक है मेरा मतलब सोशल मीडिया में वापस नार्मल हो जाता।) फेसबुक खोला तो न्यूज़ फीड में हैप्पी न्यू ईयर के वो पोस्ट जो लास्ट ईयर भी दिखे थे वो 2017 टैग के साथ फिर आने लगे । थोड़ा साहस दिखा के एकदम नीचे तक स्क्रॉल किया तो लोगो के ब्लॉग दिखने लगे की रायपुर इस ब्यूटीफुल । मैंने सोचा भाई मेरे लिए तो ये वो बात हो गयी की मुम्बई की लडकियाँ देखने के बाद मुझे कोई कन्विन्स करना चाह रहा की लड़कियाँ तो रायपुर की देखने लायक होती। (खैर वो बात और है भाव तो दोनों नही देती। ) </p>
              <br>
            <p>भाई पॉइंट भी सही था। बॉम्बे का मरीन ड्राइव देखने के बाद रायपुर का मरीन ड्राइव तो अब तेलीबांधा   तालाब लगने लगा। वहाँ से जाने लगा तो सोचा अब आया हु तो थोड़ा बैठ के जाता । (अच्छा ठीक है मेरा मतलब थोडी देर फ्री वाई फाई कनेक्ट कर लेता।) वाई फाई चलाते चलाते कब मैंने फ़ोन साइड रखके वहाँ की शान्ति का आनन्द उठाने लगा पता ही नही चला। (शायद यह तब हुआ होगा जब मेरा फ़ोन लो बैटरी लो बैटरी बोलके स्विच ऑफ हो गया।) खैर थोड़ी देर में यह लगने लगा इतना पीसफुल एनवायरनमेंट और सामने इतना ऊँचा झंडा देखकर अपने भारत पर गर्व होना यह सब तो वहां के शोर शराबे और भीड़ भाड़ में पॉसिबल ही नही। अरे वहां लोगो के पास बात करने का टाइम नही और यहाँ देखो लोगो के पास इतना टाइम है की दुसरो के बारे में इतना ज़्यादा पता कर लेते की उनसे बेहतर तरीके से उनकी लाइफ फिगर आउट कर दे।</p>
            <br>

            <p>हायर एजुकेशन के मामले में भी अब रायपुर पीछे नही है । आपका बच्चा ठीक ठाक है पढ़ने में तो हमारे पास जी.ई.सी. है, थोड़ा ज़्यादा ठीक ठाक है तो एन.आई.टी. भी खोल रखा है और मानलो कुछ ज़्यादा ही पढ़ने लगा है तो भाई अब तो आई.आई.टी. और आई.आई.आई.टी. भी है  स्टॉक में । यह तो थी इंजीनियरिंग की बात। अब किसी के पेरेंट्स थोड़े समझदार है तो लॉ कराने की सोच रहे हो या किसी की ज़्यादा ही अमीर हो और मेडिकल करने की सोच रहे हो तो दोनों का भी एडमिशन हो जाए एच्.एन.ऐल.यू. और ऐ.आई.आई.एम.स. जैसे टॉप इंस्टीट्यूशन्स में । इन जगहों में ज़्यादा पढ़ लिया गलति से तो फर्दर एजुकेशन के लिए आई.आई.एम. भी है पास में। अच्छा अगर आप सोच रहे होंगे की बच्चा हायर एजुकेशन करना ही नहीं चाहता तो क्या। अरे भाई इसलिए तो हमारे पास बैकअप में इंटरनेशनल क्रिकेट और हॉकी स्टेडियम भी है। </p>
            <br>
          <p>पढाई छोडो आते है एंटरटेनमेंट पर। पचास की मूवी टिकट हो या फिर बिना पैसे दिए कॉलेज कैंटीन में खाना, छोटे से मैन मेड वाइल्डलाइफ सेंचुरी की जंगल सफारी हो या थोड़े से पेट्रोल में नया रायपुर की लॉन्ग ड्राइव्स । चीप थ्रिल्स क्या होता ये तो रायपुर में ही पता चलता। डोमिनोज़, पिज़्ज़ा हट और मैक्डोनाल्ड्स तो हमारे पास है शो ऑफ करने ले लिए है, नाम तो हमारे सदर के ढोकले, जयस्तंभ के पोहे, कोटा के दादा की भेल और डी.डी.यू. के पांडेय जी की चाय ही ऊँचा रखते। </p>
          <br>

          <p>खैर बात ये समझ में आयी की मुम्बई के कितने भी वड़ा पाँव खा ले पेट तो हमारा रायपुर के चावल से ही भरता।रायपुर ब्यूटीफुल है या नही ये तो पता नही पर रायपुर युनिक ज़रूर है। वो क्या कहते है सबसे भरपूर अपना रायपुर (ये शायद किसी ने ना सुना हो क्योंकि मैंने अभी अभी बनाया।) नहीं कहते होंगे तो अब कह लेना </p>
						
							
              <br/><br/>
                
                <center>  <div class="fb-like" data-href="http://codeutsava.in/blogs?page=8" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div></center>
              </blockquote>
						</div>
					</div>
				</div>
            </div>
<!--footer-->
<!--footer-->
<footer class="page-footer black accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CODEUTSAVA 1.0</h5><hr/>
          <p class="grey-text text-lighten-4">CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consist of a 28-hour hackathon that will run in parallel to Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.</p>
        </div>
         <div class="col l6 s12">
         <div class="fb-page" data-href="https://www.facebook.com/CodeUtsava" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CodeUtsava" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CodeUtsava">CodeUtsava 1.0</a></blockquote></div>
          
         </div>
    </div>
	</div>
    <div class="footer-copyright">
      <div class="container center">
      Copyright 2017 ITSA NIT Raipur | All Rights Reserved.
      </div>
    </div>
  </footer>
   <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
</body>