<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Codeutsava 1.0 | Blogs</title>
  <link rel="icon" type="image/png" href="static/img/logo1.png">
<meta name="keywords" content="Codeutsava Codeutsava NITRR nit Raipur ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta itemprop="name" content="Codeutsava 1.0 | NITRR">
<meta itemprop="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta itemprop="image"  content="http://codeutsava.in/img/logo.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NITRR">
<meta name="twitter:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image:src" content="http://codeutsava.in/img/logo.jpg">
<meta property="og:title" content="Codeutsava 1.0 | NITRR">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://codeutsava.in/" />
<meta property="og:image" content="http://codeutsava.in/img/logo.jpg" />
<meta property="og:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta property="og:site_name" content="Codeutsava.in" />
<meta property="fb:admins" content="Facebook numberic ID" />
<script type="text/javascript" src="static/js/analytics.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style6.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/ihover.css" rel="stylesheet">
   <link href="static/css/ihover.min.css" rel="stylesheet">
   <link href="static/css/blog1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


 <nav class="white" role="navigation">
    <div class="nav-wrapper">
        <a id="logo-container " href="#" class="brand-logo"><img src="static/img/logo1.png" alt="Codeutsava" height="60px"></a>
     <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">        
         <li><a href="/">HOME</a></li>
         <li><a href="/registration">REGISTRATION PORTAL</a></li>
         
                 
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/" class="btn waves-effect waves-light  darkgrey lighten-1 ">HOME PAGE</a></li>
        <li><a href="/registration" class="btn waves-effect waves-light  darkgrey lighten-1 ">REGISTER</a></li>
         
      </ul>
      <!-- <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-white">Menu</i></a>  -->
    </div>
  </nav>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="https://www.facebook.com/codeutsava" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn-floating blue" href="https://www.twitter.com/codeutsavaNitrr" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

<!-- main section-->
 <div class="header">
				<h1>OUR BLOGS</h1>
			</div>
            <div class="card">
				<div class="row">
					<div class="col s12 m3 l3">
						<center>
						<div class="card-left">
				
							<img src="static/images/ananya1.jpg"/>
							<h3>ANANYA SEN</h3>
							<h4 class="black-text">4th year,CSE</h4>
							
							<!--<a href="#"><i class="fa fa-facebook small"></i></a>
							<a href="#"><i class="fa fa-twitter small"></i></a>
							<a href="#"><i class="fa fa-linkedin small"></i></a>-->
						</div>
						</center>
					</div>
					<div class="col s12 m9 l9">
						<div class="card-content">
						<blockquote>
							<h5>#RaipurIsBeautiful</h5>
							<br/>
								<p>Looks like it was just yesterday when I was bidding tearful adieu to my parents, scared, for being banished away from 
								home for the next 4 years. #RaipurIsBeautiful ??No, No it’s not merely beautiful, it’s way more than that. It’s the city 
								that transformed a girl to a lady, it’s the city that made me cry and laugh at the same time, it’s the city that taught me
								what it is to be independent, what it feels like to love unconditionally, to be brave, to raise voice against injustice, 
								to dance like no one’s watching, to sing like no one’s hearing and to live like there’s no tomorrow. It’s the city where 
								I am a friend, a sister, a junior, a senior, and a daughter all at once. It’s the city where I came as Ananya and I leave 
								as just Annu.<br/>
								No word can ever fully capture the beauty this city beholds. From the eyes of a tourist, it’s just like any other Indian city,
								though not much of a tourist attraction. From my eyes it’s the city that shimmers like a thousand splendid suns in the summer,
								rains like Augustus fell in love with Hazel Grace in Fault in our Stars; first slowly then all at once and the winters  that 
								wrap you up in theevening like a hug from a dear one, cold at first but then comforting.And best of all is my Alma Mater, 
								NIT Raipur, sturdy building standing tall with its two wings as if welcoming everyone with open arms.<br/>
								
								Just like any other city, Raipur is built from the rock, clay, bricks and cement, but Beautiful Raipur is made by a very 
								special bunch of people. The people who made these four years look like the blink of an eye. As life feasted on the hopes, 
								dreams and ambitions of me and mine, each part of this city became familiar to me with the tears and triumphs of my dear ones. 
								I know where to go to cry and where to go to celebrate, the city, no longer bricks and mortar, smiles, cheers, motivates, 
								and sheds tears with me. The smiles of  loved ones, the food trails(ask me anything, I know best Gujrati to best gupchup),
								the triple ridesnarrowly avoiding traffic cops , the shopping, the festivals, the long silent walks, killing each other with
								sarcasms and slangs  yet holding on to each other like a family. Be it the bakars with Aawazor the incessant hangouts 
								withchota, bondo&jobu or the lessons from old man. Be it Chicken with Appoo, bunking classes with bhand, nukkadwith Sullsor 
								the constant wragling with pallo sir &motabheem.  From the Gup-chupwith sardooto Nukkadki chai with addu&jadu to the feel
								alive drives with abhisiree. With all these there always was Raipur one place at a time and that beholds the beauty of this 
								city.  All these and much more is what makeRaipur My Raipur. Raipur happened to me like a fairy tale and to call it only 
								beautiful would be demeaning. <br/>
								
								The sad part is that it doesn’t end here like a good movie....InsteadZindagiMigzara !!!
								</p>
							</blockquote>
						</div>
					</div>
				</div>
            </div>
<!--footer-->
<!--footer-->
<footer class="page-footer black accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CODEUTSAVA 1.0</h5><hr/>
          <p class="grey-text text-lighten-4">CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consist of a 28-hour hackathon that will run in parallel to Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.</p>
        </div>
         <div class="col l6 s12">
         <div class="fb-page" data-href="https://www.facebook.com/codeutsava" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/codeutsava" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/codeutsava" target="_blank">CodeUtsava 1.0</a></blockquote></div>
          
         </div>
    </div>
	</div>
    <div class="footer-copyright">
      <div class="container center">
      Copyright 2017 ITSA NIT Raipur | All Rights Reserved.
      </div>
    </div>
  </footer>
   <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
</body>