<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Codeutsava 1.0 | Blogs</title>
  <link rel="icon" type="image/png" href="static/img/logo1.png">
<meta name="keywords" content="Codeutsava Codeutsava NITRR nit Raipur ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta itemprop="name" content="Codeutsava 1.0 | NITRR">
<meta itemprop="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta itemprop="image"  content="http://codeutsava.in/img/logo.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NITRR">
<meta name="twitter:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image:src" content="http://codeutsava.in/img/logo.jpg">
<meta property="og:title" content="Codeutsava 1.0 | NITRR">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://codeutsava.in/blogs?page=6" />
<meta property="og:image" content="http://codeutsava.in/img/logo.jpg" />
<meta property="og:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta property="og:site_name" content="Codeutsava.in" />
<meta property="fb:admins" content="Facebook numberic ID" />
<script type="text/javascript" src="static/js/analytics.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style6.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/ihover.css" rel="stylesheet">
   <link href="static/css/ihover.min.css" rel="stylesheet">
   <link href="static/css/blog1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <nav class="white" role="navigation">
    <div class="nav-wrapper">
        <a id="logo-container " href="/" class="brand-logo"><img src="static/img/logo1.png" alt="Codeutsava" height="60px"></a>
     <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">        
         <li><a href="/">HOME</a></li>
         <li><a href="/registration">REGISTRATION PORTAL</a></li>
         <li><a href="/blogs">OUR BLOGS</a></li>
         
                 
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/" class="btn waves-effect waves-light  darkgrey lighten-1 ">HOME PAGE</a></li>
        <li><a href="/registration" class="btn waves-effect waves-light  darkgrey lighten-1 ">REGISTER</a></li>
        <li><a href="/blogs" class="btn waves-effect waves-light  darkgrey lighten-1 ">OUR BLOGS</a></li>
         
      </ul>
      <!-- <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-white">Menu</i></a>  -->
    </div>
  </nav>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="https://www.facebook.com/codeutsava" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn-floating blue" href="https://www.twitter.com/codeutsavaNitrr" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

<!-- main section-->
 <div class="header">
				<h1>OUR BLOGS</h1>
			</div>
            <div class="card">
				<div class="row">
					<div class="col s12 m3 l3">
						<center>
						<div class="card-left">
				
							<img src="static/images/nehyal.jpg"/>
							<h3>Neyhal Menghani</h3>
							<h4 class="black-text">4th year,CSE</h4>
							
							<!--<a href="#"><i class="fa fa-facebook small"></i></a>
							<a href="#"><i class="fa fa-twitter small"></i></a>
							<a href="#"><i class="fa fa-linkedin small"></i></a>-->
						</div>
						</center>
					</div>
					<div class="col s12 m9 l9">
						<div class="card-content">
						<blockquote>
							<h5>#RaipurIsBeautiful</h5>
							<br/>
              <p>
              Raipur sheher me apka swagat hai! Most of us would have heard these lines as we land in Raipur. Being born here, my love for this city, couldn’t be described in words. A non-native person’s first reaction would be, Eh, where’s Raipur? Is it a town or a village? But believe me, this place is light years ahead!</p>
              <br>
              <p>First let me get the facts straight. Raipur is the fastest developing city and the capital of India’s fastest growing state, Chhattisgarh. It holds the pride to have established India’s premier institutes like NIT, IIT, IIIT, IIM, HNLU, AIIMS & GMC all within a 10 km radius! (Proud feeling!) Naya Raipur is the world’s first integrated city! And yeah, I am proud to say that it houses the World’s 4th largest cricket ground! Woah! </p>
              <br>
      
              <p>Enough boasting. Now you are in the city, probably experiencing a lot of heat! But that is nothing in front of the warmth of the people of this lovely city. So welcoming that they make you feel at home. And Raipur rains, Oh this city looks the most beautiful during rains!
              </p><br>
              <p>Time to explore Raipur? Let’s head to Marine Drive. Popularly known as MD, this place is the favourite hangout spot of youngsters. And the cherry on the cake is that, it’s got FREE WIFI!!
              <br>Strolling in the cool breeze at MD, you can forgot all your life’s worries.</p>
              <br>
              <p>Feeling hungry? Let’s head to Jaisthamb chowk for the refreshing Poha or Rathod chowk for those hot and spicy Mangodis! And for the suave ones, there a lot of fast food chains like McD, KFC, Domino’s, Pizza Hut and malls to hangout and chill out!
              <br>Gol Bazaar is a bliss for street shoppers! Ghatarani and Jungle Safari are superb weekend getaways!</p>
              <br>
              <p>And since most of you reading this belong to our beloved NIT Raipur, believe me this place is going to give you the 4 most beautiful, amazing and transforming years of your life! Those triple rides, mass bunks, hanging out at Amul, college canteen, those late nights during college fests, each of this will become your most prized possession. You are going to make friends for a lifetime and relations that you will cherish forever!</p>
              <br>t
              <p>So, #RaipurIsBeautiful and Raipur is not just a city, it’s a feeling!</p>
						
							</blockquote>
              <br/><br/>
                
                <center>  <div class="fb-like" data-href="http://codeutsava.in/blogs?page=6" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div></center>
						</div>
					</div>
				</div>
            </div>
<!--footer-->
<!--footer-->
<footer class="page-footer black accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CODEUTSAVA 1.0</h5><hr/>
          <p class="grey-text text-lighten-4">CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consist of a 28-hour hackathon that will run in parallel to Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.</p>
        </div>
         <div class="col l6 s12">
         <div class="fb-page" data-href="https://www.facebook.com/CodeUtsava" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CodeUtsava" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CodeUtsava">CodeUtsava 1.0</a></blockquote></div>
          
         </div>
    </div>
	</div>
    <div class="footer-copyright">
      <div class="container center">
      Copyright 2017 ITSA NIT Raipur | All Rights Reserved.
      </div>
    </div>
  </footer>
   <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
</body>