<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Codeutsava 1.0</title>
<link rel="icon" type="image/png" href="img/logo1.png">
<meta name="keywords" content="Codeutsava Codeutsava NITRR nit Raipur ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta itemprop="name" content="Codeutsava 1.0 | NITRR">
<meta itemprop="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta itemprop="image"  content="http://codeutsava.in/img/logo.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NITRR">
<meta name="twitter:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image:src" content="http://codeutsava.in/img/logo.jpg">
<meta property="og:title" content="Codeutsava 1.0 | NITRR">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://codeutsava.in/" />
<meta property="og:image" content="http://codeutsava.in/img/logo.jpg" />
<meta property="og:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta property="og:site_name" content="Codeutsava.in" />
<meta property="fb:admins" content="Facebook numberic ID" />
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/accom.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="static/js/analytics.js"></script>		
	
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div id="loader-wrapper">
        <div id="loader"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

  <nav class="white" >
    <div class="nav-wrapper" role="navigation">
      <a id="logo-container " href="/" class="brand-logo"><img src="static/img/logo1.png" alt="Codeutsava" height="60px"></a>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">
       
        <li ><a  class="page-scroll" href="#schedule">SCHEDULE</a></li>
		 <li ><a  class="page-scroll" href="#themes">THEMES</a></li>
        <li><a  class="page-scroll" href="#accomodation">ACCOMODATION</a></li>
        <li><a class="page-scroll" href="#reach">HOW TO REACH NITRR</a></li>
        </ul>

      <ul id="nav-mobile" class="side-nav">
       
        <li><a class="page-scroll" href="#schedule">SCHEDULE</a></li>
		<li ><a  class="page-scroll" href="#themes">THEMES</a></li> 
        <li><a class="page-scroll" href="#accomodation" >ACCOMODATION</a></li>
        <li><a class="page-scroll" href="#reach" >HOW TO REACH NITRR</a></li>
       
      </ul>
     
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" >
    <div class="section no-pad-bot" style="padding-top: 7.5%">
      <div class="container">
        <br><br>
		
        <h1 class="header center-align white-text text-lighten-2 animated rubberBand hide-on-small-only">CODEUTSAVA 1.0</h1>
		  <h4 class="hide-on-med-and-up center-align">CODEUTSAVA 1.0 <hr/></h4>
		 
        <div class=" typewriter center">
          <h5 class="header col s12 light ">CODE | INNOVATE | CELEBRATE</h5>
        </div>
       
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/img/main.jpg" alt=""></div>
  </div>
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="https://www.facebook.com/codeutsava" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn-floating blue" href="https://www.twitter.com/codeutsavaNitrr" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
  <!--schedule-->
  <div id="schedule">
<div class="container">
<center>
	<h2>SCHEDULE</h2><hr/></center>
	<div class="row">
		<div class="col l6 m6 s12">
		<div class="scd">
			<h4><u>4th February</u></h4>
			<blockquote><p><i class="fa fa-sun-o" style="font-size:24px;"></i>10:00 AM  Registration opens</p>
			<p><i class="fa fa-sun-o" style="font-size:24px;"></i>11:00 AM Inaugration <!-- followed by Chief Guest's Session--></p>
			<p><i class="fa fa-certificate" style="font-size:24px;"></i>12:00 PM Coding Begins</p>
			<p><i class="fa fa-certificate" style="font-size:24px;"></i>01:30 PM Lunch</p>
			<p><i class="fa fa-circle" style="font-size:24px;"></i>05:00 PM Interactive Session Starts</p>
			<p><i class="fa fa-circle" style="font-size:24px;"></i>06:00 PM Evening Snacks</p>
			<p><i class="fa fa-moon-o" style="font-size:24px;"></i>07:30 PM Discussion of ideas <!--and prototype with judges--></p>
			<p><i class="fa fa-moon-o" style="font-size:24px;"></i>08:30 PM Dinner</p></blockquote>
		</div></div>
		<div class="col l6 m6 s12">
		<div class="scd">
			<h4><u>5th February</u></h4>
			<blockquote><p><i class="fa fa-moon-o" style="font-size:24px;"></i>02:00 AM Night Party</p>
			<p><i class="fa fa-sun-o" style="font-size:24px;"></i>07:30 AM Breakfast</p>
			<p><i class="fa fa-sun-o" style="font-size:24px;"></i>10:00 PM Round 1 Judging Begins</p>
			<p><i class="fa fa-certificate" style="font-size:24px;"></i>12:00 PM Lunch</p>
			<p><i class="fa fa-certificate" style="font-size:24px;"></i>02:00 PM Round 2 Judging Begins</p>
			<p><i class="fa fa-certificate" style="font-size:24px;"></i>04:00 PM PPT Round Begins</p>
			<p><i class="fa fa-circle" style="font-size:24px;"></i>06:00 PM Announcement of Winners</p>
			<p><i class="fa fa-circle" style="font-size:24px;"></i>06:00 PM Evening Snacks</p>
		</div></div>
	</div>
	
</div>
</div>
<!-- themes-->
<div id="themes" class="theme">
  
    <div class="section">
			<div class="container">
			<div class="center-align">
			<h2 class="header col s12 ">THEMES<hr/></h2>
			</div>
			<div class="row">
			<div class ="col s12 m4 l4">
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="static/img/motherHood.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">MATERNAL AND NEWBORN CHILD HEALTH <i class="material-icons right">more_vert</i></span><br/><br/><br/>
     
    </div>
    <div class="card-reveal">
	
      <span class="card-title grey-text text-darken-4">MATERNAL AND NEWBORN CHILD HEALTH<i class="material-icons right">close</i></span>
      <p>
	Medical reports say ANC visits include tetanus toxoid vaccination, screening and treatment for infections, and identification of warning signs during pregnancy. Pregnant women are also tested for various diseases, if positive; they receive help and guidance to avoid transmission to their babies.<BR>

	The participants are required to make a reminder of the above-mentioned timeline and where the service provider of the above mentioned is.
	</p>

    </div>
  </div>
  </div>

	<div class ="col s12 m4 l4">
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="static/img/rumour.png">
    </div>
    <div class="card-content sz">
      <span class="card-title activator grey-text text-darken-4">RUMOUR REGISTER<i class="material-icons right">more_vert</i></span>
     
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">RUMOUR REGISTER<i class="material-icons right">close</i></span>
      <p>It is a deliberate or confused report of someone's death or disease that turns out to be incorrect and murder rumors. In some cases it might be because the person has intentionally faked death. We need ways to prevent such rumours through website and apps to aware people about safety of the person and locality.
   </p>
    </div>
  </div>
  </div>	
  <div class ="col s12 m4 l4">
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="static/img/feedback.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">COMMUNITY FEEDBACK<i class="material-icons right">more_vert</i></span><br/><br/><br/>
     
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">COMMUNITY FEEDBACK<i class="material-icons right">close</i></span>
      <p>     A feedback platform to the clients with a display of statistics to the health centre about various parameters like cleanliness, availability of doctors and other staff and their behaviour,  availability and quality of medicines given etc.</p>   
    </div>
  </div>
  </div>
  </div>		
		
		<!--<div class ="col s12 m4 l4">
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="static/img/theme1.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">EDUCATION<i class="material-icons right">more_vert</i></span><br/><br/><br/>
     
    </div>
    <div class="card-reveal">
	
      <span class="card-title grey-text text-darken-4">EDUCATION<i class="material-icons right">close</i></span>
      <p>Think of creative base that can be used to present parents teachers or institutions an easy way to teach and provide the resources.
			  You can also design something to help students to access the required resources available in the internet through quicker and efficient
			  systems.</p>
    </div>
  </div>
  </div>
  
		<div class ="col s12 m4 l4">
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="static/img/social.jpg">
    </div>
    <div class="card-content sz">
      <span class="card-title activator grey-text text-darken-4">SOCIAL<i class="material-icons right">more_vert</i></span>
     
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">SOCIAL<i class="material-icons right">close</i></span>
      <p>Analyze the data present in the field of healthcare and use the results available to detect some major diseases(example: Cardiovascular diseases,
			  Respiratory diseases,Diabetes,Alzheimer's etc).You can also make something to regulate the routine of people falling under different health categories.
   </p>
    </div>
  </div>
  </div>
	 
		<div class ="col s12 m4 l4">
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="static/img/th2.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">HEALTH CARE<i class="material-icons right">more_vert</i></span><br/><br/><br/>
     
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">HEALTH CARE<i class="material-icons right">close</i></span>
      <p>     Think of solving the problems faced by the rural people and try to make them aware and take benefit of their rights and governmental policies.
			  To develop well researched solutions that empower small business entrepreneurs in rural communities to stabilize and improve the sources of their
			  livelihoods.   
    </div>
  </div>
  </div>
  </div>
   
   <div class="row">
  
		<div class ="col s12 m6 l6">
		 <div class="container">
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="static/img/rural.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">RURAL<br/> EMPOWERMENT<i class="material-icons right">more_vert</i></span><br/><br/><br/>
     
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">RURAL EMPOWERMENT<i class="material-icons right">close</i></span>
      <p>Any website/app that allows having followers,friends or relationship among users and can include intergration of third-party social sites.
			  </p>
    </div>
  </div>
  </div>
  </div>
   
		<div class ="col s12 m6 l6">
		<div class="container">
		
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="static/img/theme4.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">INTERNET OF <br/>THINGS<i class="material-icons right">more_vert</i></span>
     
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">INTERNET OF THINGS<i class="material-icons right">close</i></span>
      <p>
			  Design,create and deploy useful IOT devices using Arduino,Raspberry pi and other platforms.The devices could be related to automation systems(Home 
			  automation,Parking automation etc),smart wearables,connected systems etc.You are free to come up with your own ideas that have the potential to make a 
			  difference in people's life.
			   </p>
    </div>
  </div>
  </div>
	</div>
	</div>


      </div>
			</div>
			</div>
			</div>
			
			-->

  <!--accomodation"-->
<div id="accomodation" class="accom">
  
    <div class="section">
			<div class="container">
			
			<div class="center-align">
			<h2 class="header col s12 ">ACCOMODATION<hr/></h2>
			</div>
			<br/><br/>
			<div class="accom_con">
			<p>
			1.Accommodation will be provided from 3rd February to 5th February. <br/>
			2.Accomodation for girls will be provided in Girls Hostel and for boys in boys hostel.<br/>
			3.Participants should leave the hostel by 5th February.<br/>
			4.Participants coming before 3rd February will have to pay for staying in hostel.<br/>
			5.For any queries regarding accomodation contact the members-<br/></p>
			<div class="row">
			<div class="col s12 m6 l6">
			<h5><u>GIRLS HOSTEL</u></h5>
			<center>
			<div class="row">
			<div class="col s12 m6 l6">
				<p>Bhoomika Gajpal<br/>
				CodeUtsava Team<br/>
				<i class="fa fa-phone" aria-hidden="true"></i>7587475181</p>
			</div>
			<div class="col s12 m6 l6">
				<p>Namrata Singh<br/>
				CodeUtsava Team<br/>
				<i class="fa fa-phone" aria-hidden="true"></i>9479867415</p>
			</div>
			</div>
			
			</div>
			<div class="col s12 m6 l6">
			<h5><u>BOYS HOSTEL</u></h5>
			<center>
			<div class="row">
			<div class="col s12 m6 l6">
				<p>Manu Gupta<br/>
				CodeUtsava Team<br/>
				<i class="fa fa-phone" aria-hidden="true"></i>9479265362</p>
			</div>
			<div class="col s12 m6 l6">
				<p>Vikas Bhaneriya<br/>
				CodeUtsava Team<br/>
				<i class="fa fa-phone" aria-hidden="true"></i>7566468688</p>
			</div>
			</div>
			</div>
			</div>
			
			</div>
			</div>
			</div>
			</div>

  <!--CONTACTUS--> 
<div id="reach" class="contactus grey lighten-4">
    <div class="section">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 ">HOW TO REACH NITRR<hr/></h2>
        </div>
		<div class="row center">
			<div class="col s12 m6 l6">
				   <div id="map"></div>
              
              <script>
      function initMap() {

        var uluru = {lat: 21.2495372, lng: 81.605233};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFJL1ircE_Iw7d3XqpEfzr-YkOb6UNEW4&callback=initMap">
    </script>
			
			</div>
			
			
					<div class="col s12 m6 l6"><br/>
					<div class="reach">
					<div class="card teal lighten-2 hoverable">
						<div class="card-content">
							<p>The Institute, located in Raipur, the Capital City of Chhattisgarh State, is spared over an area of 100 acres. <br/>
						The institute is 5 km from Raipur railway station and 14 km from airport on NH-6, the Great Eastern Road.You can hire a taxi or an auto-rickshaw from outside the airport to reach the campus.</p>
						</div>
							
					</div>
					
					</div>	
					<p><a class="waves-effect waves-light btn" href="https://www.google.co.in/maps/dir//National+Institute+of+Technology+Raipur,+Opp+Ayurvedic+College,+GE+Rd,+Amanaka,+Raipur,+Chhattisgarh+492010/@21.2490485,81.6031926,16.73z/data=!4m15!1m6!3m5!1s0x3a28dde213f66723:0x21543965c50c43c7!2sNational+Institute+of+Technology+Raipur!8m2!3d21.2494972!4d81.6052223!4m7!1m0!1m5!1m1!1s0x3a28dde213f66723:0x21543965c50c43c7!2m2!1d81.6052223!2d21.2494972">GET DIRECTIONS</a></p>
	
					</div>
					
				</div>

		
    </div>
   </div>
</div>


  <footer class="page-footer black lighten-2 accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CODEUTSAVA 1.0</h5><hr/>
          <p class="grey-text text-lighten-4">CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.</p>
        </div>
         <div class="col l6 s12">
         <div class="fb-page" data-href="https://www.facebook.com/codeutsava" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/codeutsava" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/codeutsava" target="_blank">CodeUtsava 1.0</a></blockquote></div>
          
         </div>
    </div>
	</div>
    <div class="footer-copyright">
      <div class="container center">
      Copyright 2016 ITSA NIT Raipur | All Rights Reserved.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  
  <script src="static/js/init.js"></script>
	<script type="text/javascript">
		$(".page-scroll").click(function(event){		
	  	event.preventDefault();
	  	$('html,body').animate({scrollTop:$(this.hash).offset().top}, 800);
	  	
	  });
	</script>
  </body>
</html>
