<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Codeutsava 1.0</title>
<link rel="icon" type="image/png" href="static/img/logo1.png">
<meta name="twitter:card" content="Hackathon">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NIT Raipur">
<meta name="twitter:description" content="CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to 5-6 Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image" content="http://codeutsava.in/static/img/timeline.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Codeutsava 1.0 | NIT Raipur" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.codeutsava.in/" />
<meta property="og:image" content="http://codeutsava.in/static/img/timeline.jpg" />
<meta property="og:description" content="CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to 5-6 Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development." />

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="static/js/analytics.js"></script>		
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div id="loader-wrapper">
        <div id="loader"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

  <nav class="white" >
    <div class="nav-wrapper" role="navigation">
      <a id="logo-container " href="#" class="brand-logo"><img src="static/img/logo1.png" alt="Codeutsava" height="60px"></a>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li ><a class="page-scroll" href="#aboutus">HACKATHON REGISTRATION</a></li>
        <li ><a class="page-scroll" href="#aboutus">ABOUT US</a></li>
        <li ><a  class="page-scroll" href="#schedule">SCHEDULE</a></li>
        <li><a  class="page-scroll" href="#mentors">MENTORS</a></li>
        <li><a class="page-scroll" href="#spons">SPONSORS</a></li>
        <li><a class="page-scroll" href="#faqs">FAQs</a></li>
        <li><a class="page-scroll" href="#contactus">CONTACT US</a></li>          
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a class="page-scroll" href="#aboutus" >HACKATHON REGISTRATION</a></li>
        <li><a class="page-scroll" href="#aboutus" >ABOUT US</a></li>
        <li><a class="page-scroll" href="#schedule">SCHEDULE</a></li>
        <li><a class="page-scroll" href="#mentors" >MENTORS</a></li>
        <li><a class="page-scroll" href="#spons" >SPONSORS</a></li>
        <li><a class="page-scroll" href="#faqs" >FAQs</a></li>
        <li><a class="page-scroll" href="#contactus" >CONTACT US</a></li>
      </ul>
     
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" >
    <div class="section no-pad-bot" style="padding-top: 7.5%">
      <div class="container">
        <br><br>
		
        <h1 class="header center-align white-text text-lighten-2 animated rubberBand hide-on-small-only">CODEUTSAVA 1.0</h1>
		  <h4 class="hide-on-med-and-up center-align">CODEUTSAVA 1.0 <hr/></h4>
		 
        <div class=" typewriter center">
          <h5 class="header col s12 light ">CODE | INNOVATE | CELEBRATE</h5>
        </div>
       
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/img/main.jpg" alt=""></div>
  </div>
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="https://www.facebook.com/codeutsava" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn-floating blue" href="https://www.twitter.com/codeutsavaNitrr" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
<div id="aboutus" class="aboutus">
  
    <div class="section">
			<div class="container">
			<div class="row">&nbsp;</div>
			<div class="row">&nbsp;</div>
			<div class="center-align">
			<h3>GET YOURSELF CHARGED<hr/></h3>
			</div>
			<br/><br/>
		<div class="row myrow">
		
			<div class="col  s12 m8 l8 " style="padding-top: 6%;">
			
			The institute is committed to the challenging task of development of technical
			education by preparing seasoned graduates 
			in highly sophisticated field of engineering and technology. 
			Development of India as an emerging industrial power. 
                    </div>
			
					
			 
			 
			<div class =" col  s12 m4 l4 hide-on-small-only">
				<div class="ch-item ch-img-2 responsive-img">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1 responsive-img"></div>
									<div class="ch-info-back"><br/><br/>
										<h3 class="center-align">NIT RAIPUR</h3>
										
									</div>
								</div>
							
						</div>
					</div>
				</div>
				</div>
<div class="row hide-on-med-and-up	">
					
			 <img class="responsive-img circle hoverable waves-effect " src="static/img/1.jpg">
			 </div>
				
			
				
			
			<div class="row myrow">
			
				<div class="col s12 m5 l4 hide-on-small-only">
				<div class="ch-item ch-img-2 responsive-img">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2 responsive-img"></div>
									<div class="ch-info-back"><br/><br/>
										<h3 class="center-align">CODEUTSAVA 1.0</h3>
										
									</div>
								</div>
							</div>
						</div>
					
					</div>
				
				
				<div class="col s12  m7 l8  " style="padding-top: 6%;padding-left: 0px;">
				
				Be a part of the mega computer science event of central India and
									feel the aura of our motto "Code | Innovate | Celebrate".The event aims at
									encouraging and creating
									awareness among students to use the technology for the betterment of society. 
									<br/>
				</div>
				
				</div>
				
				<div class="row hide-on-med-and-up	">
				
					
			 <img class="responsive-img circle hoverable waves-effect " src="static/img/2.png">
			 
			 </div>
			 <div class="row myrow">
			<div class="col  s12 m8 l8 " style="padding-top: 6%;">
			
			 It will be a two-day event 
			comprising of coding contests, Expert talks and workshops on free and open source softwares and a
			28-hour hackathon. Ideas on various important issues will be shared with many of enthusiastic 
			developers and coders.
									
                    </div>
				
			<div class =" col l4 m4 s12 hide-on-small-only">
				<div class="ch-item ch-img-2 responsive-img ">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3 responsive-img"></div>
									<div class="ch-info-back"><br/>
										<h3 class="center-align">CODE | INNOVATE | CELEBRATE</h3>
										
									</div>
								</div>
							</div></div>
						</div>
					</div>
					
			
			</div>
				</div>	<br><br>
			</div>
		<div id="schedule">
		<div class="timeline">
	
      <div class="section">
	  <div class="row">&nbsp;</div>
	  <!-- <div class="row">&nbsp;</div> -->
		<h4 class="center-align ">TIMELINE OF EVENTS</h4>
		 <div class="row">&nbsp;</div>
		 <img class=" materialboxed responsive-img  hoverable waves-effect " src="static/img/timeline.jpg">
		 <div class="row">&nbsp;</div>

	  
	</div>
	  </div>
	  </div>
     <div id="faqs">
    <div class="FAQs">
	 
    <div class="section">
  <div class="row center">
  <div class="row">&nbsp;</div>
       
   <div class="container">
   <div class="row">
	<div class="col s12 m12 l12 ">
		
 
          <h2 >FAQs</h2>
         
      
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">What is CodeUtsava 1.0?</div>
              <div class="collapsible-body white"><p>CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to 5-6 Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.</p></div>
           </li>
		   <li>
              <div class="collapsible-header">How it can be beneficial to the students ?</div>
              <div class="collapsible-body white"><p>Participating in the Hackathon will give you an experience about how deadline oriented coding is done and will make you think various approaches to solve a problem in a smarter and efficient way.<br/>
          Tech Talks will be enormously beneficial as you can  learn a new technology right from the industry resprentatives who have mastered them.</p></div>
           </li>
            <li>
			<div class="collapsible-header">How can we participate in the hackathon ?</div>
              <div class="collapsible-body white"><p>   You  can form a team of at max 3 members and register on codeutsava.in. The registration will start from 25th December. The selection for hackathon will be on your previous software development experience . Once you are selected you have to select one of the themes(to be declared by 15th Jan) and develop a product related to the theme that can lead to bettermentofour society. </p></div>
            </li>
			<li>
              <div class="collapsible-header">Is  there any special arrangements during night for girls participating in the hackathon ?
              </div>
              <div class="collapsible-body white"><p>Yes! Girls would be provided a special mirror environment after the sunset inside the girls hostel. All the arrangement of food and mattresses would be provided inside the hostel itself.</p></div>
             </li>
           <li>
              <div class="collapsible-header"> What if you don't get selected in the hackathon ? </div>
              <div class="collapsible-body white"><p>No worries we have a series of tech talks  which will bedefinitely helpful for you.</p></div>
           </li>
            <li>
              <div class="collapsible-header">On what topics these tech talks would be ?</div>
              <div class="collapsible-body white"><p>  Mostly on the newer technologies/methodologies that are the current trends of IT market and will be beneficial  for you to become a better engineer including machine learning, Kernel development, python Django workshops etc.<br/>
           Official declaration will be made soon.The talks will be of beginner level and hence can be attended by everyone who is interested in technology.</p></div>
            </li>
            <li>
              <div class="collapsible-header">Would it be just two days event ? </div>
              <div class="collapsible-body white"><p> No! We will have many small events on almost every weekend of January 2017. <br/>
          Stay tuned to our facebook page for more updates.</p></div>
             </li>
            <li>
              <div class="collapsible-header"> How can you contribute in this evolution ?</div>
              <div class="collapsible-body white"><p> You can participate actively in the events. If you want to be the  volunteer fill the form we will contact you soon.<br/>
           link:<a href="https://goo.gl/forms/y0Gg1CP8x9nT356v1" target="_blank">Click here</a></p></div>
            </li>
          <li>
              <div class="collapsible-header"> Still have doubts ?</div>
              <div class="collapsible-body white"><p> Feel free to drop us a message at our facebook page. We will get back to you soon.</p></div>
           
          </li>
    <div class="row">&nbsp;</div>
  </div></div></div>
</div>
</div>
</div>
</div>
    <div id="spons">

	<div class="Sponsor black-text">
		<div class="container">
		<div class="section">
			<div class="row" " >
				<div class="row">&nbsp;</div>
				<div class="row   center-align"><h2>OUR SPONSORS</h2></div>
				<div class="row">&nbsp;</div>
        <div class="row center">
				<h5 class=" center-align "> CLOUD PARTNER<hr width="230px"/></h5>
					<div class="col s12 m6 l6 offset-l3 offset-m3">
					<!--<div class="card animated bounceInUp">
					 <div class="card-image">-->
					 
            		   <a href="http://digitalocean.com/" target="_blank" class=" center-align">
      					<img src="static/img/spons/digitalocean.png " alt="digitalocean">
      					</a>
					 <!--</div>            	
					</div>-->
					</div>
				</div>
        <div class="row">&nbsp;</div>
				<div class="row">
				<h5 class=" center-align"> TELEPHONY PARTNER</h5><hr width="230px"/>
					<div class="col s8 m4 l4 offset-s2 offset-l5 offset-m4" style="padding-left: 0px;">
					
            		 <a href="https://exotel.in/" target="_blank" class=" center-align">
       <img  src="static/img/spons/exotel.png" alt="Exotel"></a>
       </div>            	
					
				</div>
				<div class="row">&nbsp;</div>
        <div class="row">
				<h5 class=" center-align"> IOT PARTNER</h5><hr width="230px"/>
					<div class="col s8 m4 l4 offset-s2 offset-l5 offset-m4">
				
            		 <a href="https://temboo.com/" target="_blank">
       <img  src="static/img/spons/temboo.png" alt="Temboo"></a>
       </div>            	
					
				</div>
				
				<div class="row">&nbsp;</div>
				<div class="row">
				<h5 class=" center-align"> EDUCATION PARTNER</h5><hr width="230px"/>
					<div class="col s8 m4 l4 offset-s2 offset-l5 offset-m4" style="padding-left: 0px;">
					 <a href="http://www.thenerdyacademy.com/" target="_blank" class=" center-align">
            		
       <img  src="static/img/spons/nerdy.png" alt="Nerdy Academy"></a>
       </div>            	
					
				</div>

				<div class="row">&nbsp;</div>
				<div class="row">
				<h5 class=" center-align"> MAILING PARTNER</h5><hr width="230px"/>
					<div class="col s8 m4 l4 offset-s2 offset-l5 offset-m4" style="padding-left: 0px;">
					
            		 <a href="https://sendgrid.com/" target="_blank" class=" center-align">
       <img  src="static/img/spons/sendgrid.png" alt="Send Grid"></a>
       </div>            	
					
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
				<h5 class=" center-align"> ICON PARTNER</h5><hr width="230px"/>
					<div class="col s6 m5 l5 offset-s3 offset-l5 offset-m5" style="padding-left: 0px;">
					 <a href="https://iconscout.com/" target="_blank" class=" center-align">
            		
       <img  src="static/img/iconscout.png" height=175 alt="IconScout"></a>
       </div>            	
					
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
				<h5 class=" center-align"> CREATIVITY PARTNER</h5><hr width="230px"/>
					<div class="col s1 m4 l4  offset-l4 offset-m4 " style="padding-left: 0px;">
					 <a href="http://giftrees.in/" target="_blank" class=" center-align">
            		
       <img  src="static/img/spons/giftrees.png" height=110 alt="giftrees"></a>
       </div>            	
					
				</div>
				
				<div class="row">&nbsp;</div>
				<div class="row">
				<h5 class=" center-align"> PATRONS<hr width="230px"/></h5>
					<div class="col s8 m3 l3 offset-s2 offset-l3 offset-m3">
					
              <a href="https://www.codacy.com/" target="_blank" class="center-align">
       <img  src="static/img/spons/codacy.png" alt="Codacy"></a>
      
    
       </div>            	
					<div class="caw">
					<div class="col s8 m6 l3 offset-s2">
					
               <a href="https://codeanywhere.com/" target="_blank">
       <img  src="static/img/spons/codeanywhere.png" alt="Code Any Where"></a>
          
       </div>            	
					
				</div>
				</div>

				<div class="row">&nbsp;</div>
			</div>
		</div>
		</div>
	</div>
	</div>

<div id="contactus" class="contactus grey lighten-4">
    <div class="section">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 ">CONTACT US <hr/></h2>
        </div>
		<div class="row center">
			<div class="col s12 m6 l6">
				   <div id="map"></div>
              
              <script>
      function initMap() {

        var uluru = {lat: 21.2495372, lng: 81.605233};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFJL1ircE_Iw7d3XqpEfzr-YkOb6UNEW4&callback=initMap">
    </script>
			</div>
			<div class="col s12 m6 l6">
				<div class="row hide-on-med-and-down"><h5>&nbsp;</h5></div>
				<div class="row">
					<div class="col s12 m6 l6">
					<div class="card white hoverable">
						<div class="card-content">
							<span class="card-title center "><h6>&nbsp&nbspTECHNICAL &nbsp&nbsp HEAD</h6></span><hr/>
							<p>
								<b>Lalit Chauhan</b><br/>
								Senior Undergraduate<br/>
					             Information Technology<br/>
					             +91 777 282 3928<br/>
							</p>
							</div>
							<div class="card-action">
							<a href="https://www.github.com/lalitc375" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://www.facebook.com/lalitc375" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="https://www.linkedin.com/in/lalit-chauhan-aba74470" target="_blank"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					
						
     
					</div>
					<div class="col s12 m6 l6">
					<div class="card white hoverable">
						<div class="card-content">
							<span class="card-title center"><b><h6>MANANGEMENT HEAD</h6></b></span>
							<hr/>
							<p>
								<b>Shubham Amraotkar</b><br/>
								 Senior Undergraduate<br/>
					             Information Technology<br/>
					             +91 990 799 5145
								
							</p>
						</div>
						<div class="card-action">
							<a href="https://www.facebook.com/shubham.amraotkar" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="https://www.linkedin.com/in/shubhamamraotkar" target="_blank"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>	
					</div>
				</div>

			</div>
      </div>
    </div>
   </div>
</div>
  <footer class="page-footer blue accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CODEUTSAVA 1.0</h5><hr/>
          <p class="grey-text text-lighten-4">CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.</p>
        </div>
         <div class="col l6 s12">
         <div class="fb-page" data-href="https://www.facebook.com/codeutsava" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/codeutsava" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/codeutsava" target="_blank">CodeUtsava 1.0</a></blockquote></div>
          
         </div>
    </div>
	</div>
    <div class="footer-copyright">
      <div class="container center">
      Copyright 2016 ITSA NIT Raipur | All Rights Reserved.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  
  <script src="static/js/init.js"></script>
	<script type="text/javascript">
		$(".page-scroll").click(function(event){		
	  	event.preventDefault();
	  	$('html,body').animate({scrollTop:$(this.hash).offset().top}, 800);
	  	
	  });
	</script>
  </body>
</html>
