

<!DOCTYPE html>
<html>
<!--<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>-->
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
       
 <head>
	<title></title>
</head>
<body>
<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container " href="/" class="brand-logo"><img src="static/img/code.png" alt="Codeutsava" height="60px"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/teamprofile">MY TEAM PROFILE</a></li>
        <li><a href="/logout">LOGOUT</a></li>
        
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/teamprofile" class="btn waves-effect waves-light  grey lighten-1 ">MY TEAM PROFILE</a></li>
        <li><a href="/logout" class="btn waves-effect waves-light  grey lighten-1 ">LOGOUT</a></li>
       	
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-white">Menu</i></a>
    </div>
  </nav>
</div>
  <nav class="grey">
      <div class="nav-wrapper">
        <a href="codeutsava.in" class="brand-logo center" ></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"></a></li>
         
        </ul>
      </div>
    </nav>
<center>
<br><br>
<h3>{{decision}} Details</h3>
{% for category, message in get_flashed_messages(with_categories=true) %}
<h6>{{ message }}</h6>
{% endfor %}
<br>
For Email - {{email}}
<br>
</center>
<div class="container">
	<!-- <div class="row"> -->
	    <form id="userDetailForm" action="/memberprofile" method="post" class="col s12">
	    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	      <div class="row">
	        <div class="input-field col s6">
	          <input id="name" name="name" value="{{data[16]}}" type="text" class="validate" required>
	           <label for="Name">Full Name</label> 
	        </div>

	        <div class="input-field col s6">
	          <!-- <input placeholder="Gender (m/f)" id="gender" name="gender" value="{{data[10]}}" type="text" class="validate"> -->
	          <select name="gender" value="{{data[10]}}" required>
					<option selected="selected">{{data[10]}}</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
    			</select>
	          <label for="gender">Gender</label> 
	        </div>
	      </div>
	      <div class="row">
	        <!-- <div class="input-field col s6">
	          <input placeholder="Degree" id="degree" name="degree" type="text" class="validate">
	          <label for="uname">Username</label>
	        </div>-->
	        <div class="input-field col s12">
			
				<select name="degree" value="{{data[11]}}" required>
					<option selected="selected">{{data[11]}}</option>
					<option value="B.Tech">B.Tech</option>
					<option value="M.Tech">M.Tech</option>
					<option value="M.Sc">M.Sc</option>
					<option value="B.Sc">B.Sc</option>
					<option value="B.Com">B.Com</option>
					<option value="BBA">BBA</option>
					<option value="MA">MA</option>
					<option value="BCA">BCA</option>
					<option value="M.Com">M.Com</option>
					
    			</select>
				<label for="Degree">Degree</label>
			
			</div>
	      </div>
		  <div class="row">
	        <div class="input-field col s12">
	          <!-- <input placeholder="Stream" id="stream" name="stream" value="{{data[15]}}" type="text" class="validate"> -->
	          <!-- <label for="password">Password</label> -->
	        	<select name="stream" value="{{data[15]}}" required>
					<option selected="selected">{{data[15]}}</option>
					<option value="Mechanical">Mechanical</option>
					<option value="Chemical">Chemical</option>
					<option value="Civil">Civil</option>
					<option value="Computer Science">Computer Science</option>
					<option value="Information Technology">Information Technology</option>
					<option value="Biomedical">Biomedical</option>
					<option value="Electronics and Telecommunication">Electronics and Telecommunication</option>
					<option value="Electrical">Electrical</option>
					<option value="Electrical and Electronics">Electrical and Electronics</option>
					<option value="Others">Others</option>
					<label>Stream</label>
    			</select>
				<label for="stream">Stream</label>
			
	</div>
	</div>
	      <!-- </div> -->
	      <div class="row">
	        <div class="input-field col s6">
			<label for="DOB">Date of Birth</label>
			 <input type="date" class="datepicker" name="dob" value="{{data[6]}}" required>
	          <!--<input placeholder="Date Of Birth" id="dob" name="dob" value="{{data[6]}}" type="text" class="validate">
	           <label for="uname">Username</label> -->
	        </div>

	        <div class="input-field col s6">
			
			
			<select name="yop" value="{{data[7]}}" required>
					<option selected="selected">{{data[7]}}</option>
					<option value="2019">2019</option>
					<option value="2018">2018</option>
					<option value="2017">2017</option>
					<option value="2016">2016</option>
					<option value="2015">2015</option>
					<option value="2014">2014</option>
					<option value="2013">2013</option>
					<option value="2012">2012</option>
					<option value="2011">2011</option>
    </select>
	<label for="yop">Year of Passing</label>
			
	
	          
	        
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input  id="github" name="github" value="{{data[5]}}" type="url" class="validate" required>
	           <label for="github">Github Link</label> 
	        </div>
	      </div>
	      
	      <div class="row">
	        <div class="input-field col s12">
	          <input  id="twitter" name="twitter" value="{{data[18]}}" type="url" class="validate" required>
	           <label for="twitter">Twitter Link</label> 
	        </div>
	      </div>
	      
	      <div class="row">
	        <div class="input-field col s12">
	          <input  id="resume" name="resume" value="{{data[4]}}" type="url" class="validate" required>
	          <label for="resume">Resume Link</label> 
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="address" name="address" value="{{data[9]}}" type="text" class="validate">
	          <label for="address">Address</label> 
	        </div>
	       </div>
	      <div class="row">
	        <div class="input-field col s6">
	          <input  id="state" name="state" value="{{data[13]}}" type="text" class="validate" required>
	          <label for="state">State</label>
	        </div>

	        <div class="input-field col s6">
	          <input  id="city" name="city" value="{{data[14]}}" type="text" class="validate" required>
	          <label for="city">City</label> 
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input value="{{data[12]}}" id="contact" name="contact" type="text" class="validate" required>
	           <label for="contact">Contact</label> 
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input  id="experience" value="{{data[8]}}" name="experience" type="text" class="validate" required>
	           <label for="experience">Previous Hackathon Experience</label> 
	        </div>
	      </div>
	      
	      <div class="row">
	      	<center><button class="btn waves-effect waves-light grey darken-1 " type="submit" name="action">Save Details</button></center>
          </div>
	    </form>
</div></div>
<br>
<br><br><br><center>
<a href="/logout" class="waves-effect waves-light btn grey darken-1">Logout</a><br><br></center>
<script src="static/js/main1.js"></script> 
<footer class="page-footer grey">

          <div class="container" style="background color:grey;">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CODEUTSAVA 1.0</h5>
                <p class="grey-text text-lighten-4">Be a part of one of the mega computer science
				event of central India and feel the aura of our motto "Code | Innovate | Celebrate".
				The event aims at encouraging and creating awareness among students to use the
				technology for the betterment of society.
</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">CONNECT WITH US</h5>
                <ul>
                  <li><a class="white-text" href="https://www.nitrr.ac.in">NIT RAIPUR</a></li><br/>
                  <li><a class="white-text" href="#!">Lalit Chauhan</a></li>
                  <li><a class="white-text" href="#!">Shubham Amraotkar</a></li>
                  
                </ul>
              </div>
            </div>
          </div></div>
		  <div class="black">
          <div class="footer-copyright">
            <div class="container">
            Copyright 2016 ITSA NIT Raipur | All Rights Reserved.
            
            </div>
          </div>
        </footer>
		<script>
			$("#userDetailForm").validate();
		</script>
</body>
</html>