<!DOCTYPE html>
<html>
<!-- Jim Moriarty. Hi. Thanks For Checking Out the Code.  -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width , initial-scale=1.0,user-scalable=no"/>
<title>Codeutsava 1.0 | Team Registration</title>
<script src='https://www.google.com/recaptcha/api.js'></script>

<link rel="icon" type="image/png" href="static/img/logo1.png">
<link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<meta name="twitter:card" content="Hackathon">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NIT Raipur">
<meta name="twitter:description" content="CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to 5-6 Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image" content="http://codeutsava.in/static/img/timeline.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Codeutsava 1.0 | NIT Raipur" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.codeutsava.in/" />
<meta property="og:image" content="http://codeutsava.in/static/img/timeline.jpg" />
<meta property="og:description" content="CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to 5-6 Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development." />


 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
  <!-- Compiled and minified JavaScript -->
  <head>
</head>
<body>


  <nav class="black" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="static/img/code.png" alt="Codeutsava" height="50px"></a>
       <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/allteams">VIEW ALL TEAMS</a></li>
                 
      </ul>

      <ul class="side-nav" id="nav-mobile">
        <li><a href="/login" class="btn waves-effect waves-light  darkgrey lighten-1 ">LOGIN</a></li>
        <li><a href="/" class="btn waves-effect waves-light  darkgrey lighten-1 ">HOME PAGE</a></li>
        <li><a href="/allteams" class="btn waves-effect waves-light  darkgrey lighten-1 ">VIEW ALL TEAMS</a></li>
        
      </ul>
      
    </div>
  </nav>

  

   
<center>
{% for category, message in get_flashed_messages(with_categories=true) %}
<h6>{{ message }}</h6>
{% endfor %}</center>
<br><br><br>
<div class="container">
	<!-- <div class="row"> -->
	    <form id="registerForm" action="/register" method="post" class="col s12" name="form1" onsubmit="return validateForm()">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	      <div class="row">
	        <div class="col s6">
	          <font face="Calibri" size=2 >Team Username</font>
            <input  id="uname" name="uname" type="text" class="validate" required >
			  <p class="error" id="err1"></p>
	          <!--<label for="uname"> Team Username</label> -->
	        </div>

	        <div class="col s6">
          <font face="Calibri" size=2 >Team Password</font>
	          <input  id="password" name="password" type="password" class="validate" required minlength="8">
			   <p class="error" id="err2"></p>
	          <!--<label for="password"> Team Password</label> -->
	        </div>
	      </div>
	      <!-- </div> -->
	      <div class="row">
	        <div class="col s12">
          <font face="Calibri" size=2 >Institute Name</font>
	          <input  id="institute" name="institute" type="text"  class="validate" required>
			   <p class="error" id="err3"></p>
	          <!-- <label for="institute">Institute Name</label> -->
	        </div>
	      </div>
	      
	      <div class="row">
	        <div class="col s12">
          <font face="Calibri" size=2 >Email of 1st Member</font>
	          <input  id="email1" name="email1" type="email" class="validate" required>
			   <p class="error" id="err4"></p>
	         <!--  <label for="email1">Email of 1st Member</label> -->
	        </div>
	      </div>
	      
	      <div class="row">
	          <div class="col s12">
            <font face="Calibri" size=2 >Email of 2nd Member</font>
	          <input  id="email2" name="email2" type="email" class="validate" required>
			   <p class="error" id="err5"></p>
	          <!--<label for="email2">Email of 2nd Member</label> -->
	        </div>
	      </div>
	      <div class="row">
	        <div class="col s12">
          <font face="Calibri" size=2 >Email of 3rd Member</font>
	          <input id="email3" name="email3" type="email" class="validate" required>
			   <p class="error" id="err6"></p>
	           <!--<label for="email3">Email of 3rd Member</label>--> 
	        </div>
	      </div>
	      <div class="row">
	        <div class="col s12">
		        <!-- <font face="Calibri" size=2 >Captcha</font> -->
		        <!-- <div class="col s6"> -->
		        
		          <center><div class="g-recaptcha" data-sitekey="6LcbfhEUAAAAALPhMJ07H7AHvqn6X4M4DBRIoVNr"></div></center>
		        
		        <!-- </div> -->
	        </div>
	        
	      </div>

	      <div class="row">
	      	<center><button class=" btn waves-effect waves-light grey darken-1" type="submit" name="action" >Register Team</button></center>
          </div>
	    </form>
</div>
<br><br>
<footer class="page-footer grey">

          <div class="container" style="background color:grey;">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CODEUTSAVA 1.0</h5>
                <p class="grey-text text-lighten-4">Be a part of one of the mega computer science
				event of central India and feel the aura of our motto "Code | Innovate | Celebrate".
				The event aims at encouraging and creating awareness among students to use the
				technology for the betterment of society.
</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">CONNECT WITH US</h5>
                <ul>
                  <li><a class="white-text" target="_blank" href="https://www.facebook.com/codeutsava/">Facebook</a></li>
                  <li><a class="white-text" target="_blank" href="https://twitter.com/codeutsavaNitrr">Twitter</a></li>
                  <li><a class="white-text" target="_blank" href="https://www.nitrr.ac.in">NIT RAIPUR</a></li><br/>
                  
                </ul>
              </div>
            </div>
          </div></div>
		  <div class="black">
          <div class="footer-copyright">
            <div class="container">
            Copyright 2016 ITSA NIT Raipur.
            
            </div>
          </div>
        </footer>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
      
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  

  <script src="static/js/init.js"></script>
	<script type="text/javascript" src="static/js/analytics.js"></script>		
   
  
 <script >
    $("#registerForm").validate();
  </script>	
</body>
</html>