<!DOCTYPE html>
<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width , initial-scale=1.0,user-scalable=no"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
       
 <head>
<style>
table{
    table-layout: fixed;
    width: 100%;
}
</style>

	<title></title>
</head>
<body>
<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container " href="/" class="brand-logo"><img src="static/img/code.png" alt="Codeutsava" height="60px"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/allteams">VIEW ALL TEAMS</a></li>
        <li><a href="/logout">LOGOUT</a></li>
               
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/allteams" class="btn waves-effect waves-light  grey lighten-1 ">VIEW ALL TEAMS</a></li>
        <li><a href="/logout" class="btn waves-effect waves-light  grey lighten-1 ">LOGOUT</a></li>
        
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-white">Menu</i></a>
    </div>
  </nav>
</div>
  <nav class="grey">
      <div class="nav-wrapper">
        <a href="codeutsava.in" class="brand-logo center" ></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"></a></li>
         
        </ul>
      </div>
    </nav>
<br><br>
<center>
<h3>Team Name - {{teamname}}</h3>
<br>
Institute - {{institute}}
{% for category, message in get_flashed_messages(with_categories=true) %}
<h6>{{ message }}</h6>
{% endfor %}
<br><br>
Status - {{status}}
<!-- Registered emails- -->
<br><br><br>
{%if data%}
	<table>
		<tr>
			<td ><center><b>Email</center></td>
			<td ><center><b>Email Verified</center></td>
			<td ><center><b>Form Completed</center></td>
			<td ><center><b>Confirmation Mail</center></td>
      
		</tr>
{%endif%}
	{% for i in data %}
		<tr>
			<td><center>{{i[2]}} (<a href="/memberprofile?email={{i[2]}}">Details</a>)</center></td>
			<td>
				<center>
					{%if i[1]%}
					Yes
					{% else %}
					No
					{%endif%}
				</center>
			</td>
			<td>
				<center>
					{%if i[17]%}
					Yes
					{% else %}
					No
					{%endif%}
				</center>
			</td>
      <td>
        <center>
          <a href="/resend?email={{i[2]}}">Resend</a>
        </center>
      </td>
		</tr>
	{% endfor %}
	</table>
<br><br>
<a href="/deleteteam" class="waves-effect waves-light btn grey darken-1">Delete Team</a><br><br>
<br><br>
<a href="/logout" class="waves-effect waves-light btn grey darken-1">Logout</a><br><br><br><br>
<footer class="page-footer grey">
<div class="left-align">
          <div class="container" style="background color:grey;">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CODEUTSAVA 1.0</h5>
                <p class="grey-text text-lighten-4">Be a part of one of the mega computer science
				event of central India and feel the aura of our motto "Code | Innovate | Celebrate".
				The event aims at encouraging and creating awareness among students to use the
				technology for the betterment of society.
</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">CONNECT WITH US</h5>
                <ul>
                  <li><a class="white-text" href="https://www.nitrr.ac.in">NIT RAIPUR</a></li><br/>
                  <li><a class="white-text" href="#!">Lalit Chauhan</a></li>
                  <li><a class="white-text" href="#!">Shubham Amraotkar</a></li>
                  
                </ul>
              </div>
            
          </div></div>
		  <div class="black">
          <div class="footer-copyright">
            <div class="container">
			<div class="row">
			<div class="col l12 s12">
            Copyright 2016 ITSA NIT Raipur.
            
            </div></div></div>
          </div></div></div>
        </footer>
		
</body>
</html>