<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Codeutsava 1.0</title>
<link rel="icon" type="image/png" href="static/img/logo1.png">
<meta name="keywords" content="Codeutsava Codeutsava NITRR nit Raipur ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta itemprop="name" content="Codeutsava 1.0 | NITRR">
<meta itemprop="description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta itemprop="image"  content="http://codeutsava.in/img/logo.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NITRR">
<meta name="twitter:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image:src" content="http://codeutsava.in/img/logo.jpg">
<meta property="og:title" content="Codeutsava 1.0 | NITRR">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://codeutsava.in/" />
<meta property="og:image" content="http://codeutsava.in/img/logo.jpg" />
<meta property="og:description" content="Codeutsava 1.0 is a mega computer science event conducted by National Institute of Technology, Raipur (NITRR). It will be a two-day event comprising of coding contests, Expert talks and workshops on free and open source softwares and a 28-hour Hackathon in the first weekend of february. The event aims at encouraging and creating awareness among students to use the technology for the betterment of society. It is the pioneer of central India’s hackathon culture and hence will be largely evolving in the upcoming years." />
<meta property="og:site_name" content="Codeutsava.in" />
<meta property="fb:admins" content="Facebook numberic ID" />
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/tc.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="static/js/analytics.js"></script>		
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>
<body>
 <nav class="white" >
    <div class="nav-wrapper" role="navigation">
      <a id="logo-container " href="/" class="brand-logo"><img src="static/img/logo1.png" alt="Codeutsava" height="60px"></a>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">
       
        <li ><a  class="page-scroll" href="index.html">HOMEPAGE</a></li>
        <li><a  class="page-scroll" href="hackathon.html">HACKATHON</a></li>
       
        </ul>

      <ul id="nav-mobile" class="side-nav">
       
        <li><a class="page-scroll" href="index.html">HOMEPAGE</a></li>
        <li><a class="page-scroll" href="hackathon.html" >HACKATHON</a></li>
       
      </ul>
     
    </div>
  </nav>
  <div class="tc">
 <div><center> <h3>TECH-TALKS<hr/></h3></div>
 <div class="row">
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="static/img/tc-1.jpg">
              
            </div>
            <div class="card-content">
			<span class="card-title"><b>Network flow and Competitive programming</b></span><br/>
			  <p>In graph theory, a flow network (also known as a transportation network) is a directed graph where each edge has a capacity and each edge receives a flow. 
			  The amount of flow on an edge cannot exceed the capacity of the edge.<br/>
			  By-<br/>
			  <b>Triveni Mahatha</b>
			  </p>
            </div>
            <div class="card-action">
              <a href="#">REGISTER HERE!</a>
            </div>
          </div>
        </div>
		<!--2-->
		<div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="static/img/tc-2.jpg">
              
            </div>
            <div class="card-content">
			<span class="card-title"><b>Micropython & converting ideas into working models</b></span>
              <p>MicroPython is an efficient implementation of the Python 3 programming language that includes a small subset of the Python standard library 
			  and is optimised to run on microcontrollers and in constrained environments.
			 <br/>
			  By-<br/>
			 <b> Ashwin Venu</b></p>
            </div>
            <div class="card-action">
              <a href="#">REGISTER HERE!</a>
            </div>
          </div>
        </div>
		<!--3-->
		<div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="static/img/tc-3.jpg">
              
            </div>
            <div class="card-content">
			<span class="card-title"><b>NLP & AI for Mobile Domain</b></span>
              <p>Natural language processing is a field of computer science, artificial intelligence, and computational 
			  linguistics concerned with the interactions between computers and human  languages. NLP is related to the area of human–computer interaction. Many challenges in NLP involve: 
			  natural language understanding, enabling meaning.
			  <br/>
			  By-<br/>
			  <b>Sourabh Tiwari</b></p>
            </div>
            <div class="card-action">
              <a href="#">REGISTER HERE!</a>
            </div>
          </div>
        </div>
		<!--4-->
		<div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="static/img/tc-4.jpg">
              
            </div>
            <div class="card-content">
			<span class="card-title"><b>Introduction to Machine Learning</b></span>
              <p>Machine learning is the subfield of computer science that gives computers the ability to learn without being explicitly programmed (Arthur Samuel, 1959).
			  Evolved from the study of pattern recognition and computational learning theory in artificial intelligence,
			  machine learning explores the study and construction of Algorithms.
			  <br/>
			  By-<br/>
			  <b>Vikramank Singh</b></p>
            </div>
            <div class="card-action">
              <a href="#">REGISTER HERE!</a>
            </div>
          </div>
        </div>
		
      </div>
	  <div class="row">
	  <div class="container">
	  <div class="col s12 m4 l4">
	   
          <div class="card">
            <div class="card-image">
              <img src="static/img/tc-5.jpg">
              
            </div>
            <div class="card-content">
			<span class="card-title"><b>Test Driven Development</b></span>
              <p> TDD
			  is a software development process that relies on the repetition of a 
			  very short development cycle: requirements are turned into very specific test cases. This is opposed to software development
			  that allows software to be added that is not proven to meet requirements.
			  <br/>
			  By-<br/>
			 <b> Nitin Soni</b></p>
            </div>
            <div class="card-action">
              <a href="#">REGISTER HERE!</a>
            </div>
          </div>
		  
        </div>
		<!--2-->
		<div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image">
              <img src="static/img/tc-6.png">
              
            </div>
            <div class="card-content">
			<span class="card-title"><b>Information Retrieval and Algorithms</b></span>
              <p>Information retrieval (IR) is the activity of obtaining information resources relevant to an information need from a collection of information resources. 
			  Searches can be based on full-text or other content-based indexing.
			  <br/>
			  By-<br/>
			  <b>Asmita Metrewar</b></p>
            </div>
            <div class="card-action">
              <a href="#">REGISTER HERE!</a>
            </div>
          </div>
        </div>
	
		<!--3-->
		<div class="col s12 m4 l4">

          <div class="card">
            <div class="card-image">
              <img src="static/img/tc-7.jpg">
              
            </div>
            <div class="card-content">
			<span class="card-title"><b>Best Practices of Web Development</b></span>
              <p>Web development is a broad term for the work involved in developing a web site for the Internet  or an intranet .
			  Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications, electronic
			  businesses, and social network services.
			  <br/>
			  By-<br/>
			 <b> Arun Kumar Chauhan</b></p>
            </div>
            <div class="card-action">
              <a href="#">REGISTER HERE!</a>
            </div>
          </div>
        
	</div>
	  </div>
	  </div>
            
<footer class="page-footer black lighten-2 accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CODEUTSAVA 1.0</h5><hr/>
          <p class="grey-text text-lighten-4">CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.</p>
        </div>
         <div class="col l6 s12">
         <div class="fb-page" data-href="https://www.facebook.com/codeutsava" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/codeutsava" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/codeutsava" target="_blank">CodeUtsava 1.0</a></blockquote></div>
          
         </div>
    </div>
	</div>
    <div class="footer-copyright">
      <div class="container center">
      Copyright 2016 ITSA NIT Raipur | All Rights Reserved.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  
  <script src="static/js/init.js"></script>
	<script type="text/javascript">
		$(".page-scroll").click(function(event){		
	  	event.preventDefault();
	  	$('html,body').animate({scrollTop:$(this.hash).offset().top}, 800);
	  	
	  });
	</script>
  

</html>
