<!DOCTYPE html>
<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width , initial-scale=1.0,user-scalable=no"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
       
<head>
	<title></title>
</head>
<body>
<div class="navbar-fixed">
    <nav class="black">
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo center" >CODEUTSAVA 1.0</a>
        <ul class="right hide-on-med-and-down">
          <!--<li><a href="index.html">HOME</a></li>-->
         
        </ul>
      </div>
    </nav>
  </div>
  <nav class="grey">
      <div class="nav-wrapper">
        <a href="codeutsava.in" class="brand-logo center" ></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"></a></li>
         
        </ul>
      </div>
    </nav>
<!--<center>
<form action="/" method="post">
<br><br>
	Source - <input type="text" name="source"></input><br>
	Destination - <input type="text" name="dest"></input><br>
	Lattitude - <input type="text" name="lat"></input><br>
	Longitude - <input type="text" name="lng"></input>
	<input type="submit"></input>
</form><br><br><br>
-->
<br><br>
<center>
<div class="container">
<h4>
Process Completed 
</h4>
<br><br>
{% if failures|length %}
The Notification could not be sent to the following ids - <br><br>
{% for i in failures %}
{{i}}<br>
{% endfor %}
{% endif %}


{% if responses|length %}
The following responses were Generated - <br><br>
{% for i in responses %}
{{i}}<br>
{% endfor %}
{% endif %}
<br><br>	
<table>
        <thead>
          <tr>
              <th data-field="code">Description</th>
              <th data-field="desc">Code</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Successfully Sent the Notification</td>
            <td>200</td>
          </tr>
          <tr>
            <td>The request could not be parsed as JSON, or it contained invalid fields</td>
            <td>400</td>
          </tr>
          <tr>
            <td>There was an error authenticating the sender account </td>
            <td>401</td>
          </tr>
          <tr>
            <td>An Internal error in the GCM connection server while trying to process the request <br>/ Server is temporarily unavailable / Timeout Occured </td>
            <td>5xx</td>
          </tr>
          
        </tbody>
</table>
</div>
</center>
<footer class="page-footer grey">

          <div class="container" style="background color:grey;">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CODEUTSAVA 1.0</h5>
                <p class="grey-text text-lighten-4">Be a part of one of the mega computer science
				event of central India and feel the aura of our motto "Code | Innovate | Celebrate".
				The event aims at encouraging and creating awareness among students to use the
				technology for the betterment of society.
</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">CONNECT WITH US</h5>
                <ul>
                  <li><a class="white-text" href="https://www.nitrr.ac.in">NIT RAIPUR</a></li><br/>
                  <li><a class="white-text" href="#!">Lalit Chauhan</a></li>
                  <li><a class="white-text" href="#!">Shubham Amraotkar</a></li>
                  
                </ul>
              </div>
            </div>
          </div></div>
		  <div class="black">
          <div class="footer-copyright">
            <div class="container">
            Copyright 2016 ITSA NIT Raipur.
            
            </div>
          </div></div>
        </footer>
		
</body>
</html>