<!DOCTYPE html>
<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width , initial-scale=1.0,user-scalable=no"/>
 <title>Codeutsava 1.0 | Teams</title>
  <link rel="icon" type="image/png" href="static/img/logo1.png">
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<link href="static/css/style5.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <meta name="twitter:card" content="Hackathon">
<meta name="twitter:site" content="@codeutsavaNitrr">
<meta name="twitter:title" content="Codeutsava 1.0 | NIT Raipur">
<meta name="twitter:description" content="CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to 5-6 Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development.">
<meta name="twitter:creator" content="@lalitc375">
<meta name="twitter:image" content="http://codeutsava.in/static/img/timeline.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Codeutsava 1.0 | NIT Raipur" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.codeutsava.in/" />
<meta property="og:image" content="http://codeutsava.in/static/img/timeline.jpg" />
<meta property="og:description" content="CodeUtsava 1.0 is a mega computer science event and will span for two days: 4th and 5th Feb, 2017. The event will consists of a 28-hour hackathon that will run in parallel to 5-6 Guest Lecture sessions. The event aims at encouraging the use of newer and advanced technologies and to promote better and cleaner ways of software and product development." />


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
       
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <head>
 <style>
table{
    table-layout: fixed;
    width: 100%;
}
</style>

	<title></title>
</head>
<body>
<nav class="black" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="static/img/code.png" alt="Codeutsava" height="50px"></a>
       <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-black">menu</i></a>
      <ul class="right hide-on-med-and-down">        
      <li><a href="/teamprofile">MY TEAM PROFILE</a></li>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/login">LOGIN</a></li>
               
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/teamprofile" class="btn waves-effect waves-light  darkgrey lighten-1 ">MY TEAM PROFILE</a></li>
        <li><a href="/register" class="btn waves-effect waves-light  darkgrey lighten-1 ">REGISTER</a></li>
        <li><a href="/" class="btn waves-effect waves-light  darkgrey lighten-1 ">HOME PAGE</a></li>
        <li><a href="/login" class="btn waves-effect waves-light  darkgrey lighten-1 ">LOGIN</a></li>
        
      </ul>
      <!-- <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons icon-white">Menu</i></a> -->
    </div>
  </nav>
</div>
  
<div class ="center-align">
<br><br>
<h3>Members of Team {{teamname}}</h3><br><br>Institute {{institute}}
{% for category, message in get_flashed_messages(with_categories=true) %}</div></div>
<h6>{{ message }}</h6>
{% endfor %}
<br><br>
Registration Status -
{%if teamstatus%}
Complete
{% else %}
Incomplete
{%endif%}

<div class="container">
	{%if data%}
	<table>
		<tr>
			<td><center><b>Member Name</center></td>
			<td><center><b>Details</center></td>
			<!-- <td><center><b>Stream</center></td> -->
		</tr>
	{%endif%}
	{% for i in data %}
		<tr>
			<td>
        <center>
          {%if i[0]%}
          {{i[0]}}
          {%endif%}
        </center>
      </td>
			<td>
        <center>
          {%if i[2] and i[1]%}
          {{i[1]}}, {{i[2]}}
          {%endif%}
        </center>
      </td>
			</td>
			
		</tr>
		<!-- {{i}} -->

	{% endfor %}

</table>
</div>
<br>
</div>
<br><br>
<footer class="page-footer grey">
<div class="row">
  <div class="col s12 l12 ">

		<div class="left-align">
          <div class="container" style="background color:grey;">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CODEUTSAVA 1.0</h5>
                <p class="grey-text text-lighten-4">Be a part of one of the mega computer science
				event of central India and feel the aura of our motto "Code | Innovate | Celebrate".
				The event aims at encouraging and creating awareness among students to use the
				technology for the betterment of society.
</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">CONNECT WITH US</h5>
                <ul>
                  <li><a class="white-text" href="https://www.nitrr.ac.in">NIT RAIPUR</a></li><br/>
                  <li><a class="white-text" href="#!">Lalit Chauhan</a></li>
                  <li><a class="white-text" href="#!">Shubham Amraotkar</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
		  <div class="black">
          <div class="footer-copyright">
            <div class="container">
            Copyright 2016 ITSA NIT Raipur.
            
            </div>
          </div></div>
		  
        </footer>
		
</body>
</html>